/* ====================================
               Base
==================================== */

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --clr-primary: hsl(0, 0%, 100%);

  --clr-secondary: hsl(238, 37%, 60%); /* #7477bf */
  --clr-secondary-hover: hsl(238, 37%, 50%);

  --clr-btn-cancel: hsl(0, 0%, 60%);
  --clr-btn-cancel-hover: hsl(0, 0%, 50%);

  --fw-regular: 200;
  --fw-bold: 400;

  --border: solid hsl(0, 0%, 80%) 0.1rem;
  --transition: all 0.15s linear;
}

body {
  display: grid;
  grid-template-rows: 6rem 5rem 1fr;
  grid-template-areas:
    "header"
    "nav"
    "main";
  font-family: "Martel Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: var(--fw-regular);
}

/* ---------- Typography ---------- */

.traffic-title {
  margin-bottom: 0.35rem;
}

h2 {
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

legend {
  font-size: 1.4rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.social-stats h2 {
  margin-bottom: -0.4rem;
}

label {
  font-size: 1.4rem;
}

.new-members a {
  text-decoration: none;
  color: var(--clr-secondary);
}

strong {
  font-weight: var(--fw-bold);
}

::placeholder {
  color: #bcbcbc;
  font-size: 1.4rem;
}

/* ====================================
              Components
==================================== */

/* ------------ Buttons ------------ */

button {
  display: block;
  width: 100%;
  height: 4.5rem;
  color: #fff;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  background-color: var(--clr-secondary);
  border: var(--border);
  border-radius: 0.5rem;
  transition: var(--transition);
}

button:hover {
  background-color: var(--clr-secondary-hover);
}

.btn-save {
  width: 50%;
}

.btn-cancel {
  width: 50%;
  background-color: #999999;
  transition: var(--transition);
}

.btn-cancel:hover {
  background-color: var(--clr-btn-cancel-hover);
}

/* ----------- Images ------------- */

img {
  width: 6rem;
  border-radius: 50%;
}

.header-main img {
  width: 3.5rem;
}

nav img {
  width: 3rem;
  border-radius: unset;
  transition: var(--transition);
}

nav img:hover {
  transform: scale(1.05);
}

/* ------------- Misc ------------- */

.logo {
  font-size: 2rem;
  margin-right: auto;
}

.logo span {
  font-weight: 400;
}

.bell-wrapper {
  display: flex;
  height: 3.5rem;
  padding-right: 1.5rem;
  border-right: solid #8c8fb8 0.1rem;
  position: relative;
}

.notifications-light {
  width: 0.5rem;
  height: 0.5rem;
  background-color: #90ee90;
  border-radius: 50%;
  position: absolute;
  top: 0.2rem;
  right: 1.125rem;
  transition: var(--transition);
}

.bell {
  fill: #fff;
  width: 2rem;
  stroke: #fff;
  cursor: pointer;
  stroke-width: unset;
  transition: var(--transition);
}

.bell:hover {
  stroke: #fff;
  stroke-width: 3;
  transform: scale(1.2);
}

.user-name {
  font-size: 1.2rem;
}

.tab {
  align-self: center;
  padding: 0 1.6rem;
  font-weight: bold;
}

.no-tabs-space {
  width: calc(100% - 10.7rem);
  background-color: #f7f7f7;
  border-left: var(--border);
  border-bottom: var(--border);
}

.alerts-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  color: #fff;
  background-color: var(--clr-secondary);
  height: 3.5rem;
  padding: 0 1rem 0 1.6rem;
  margin: 1.6rem 1.6rem 0.8rem;
  border-radius: 0.5rem;
}

.close-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.traffic-nav {
  display: flex;
  gap: 0 0.2rem;
  font-size: 1.4rem;
  font-weight: 400;
}

.traffic-nav li {
  padding: 0.8rem 1rem;
  border-radius: 1.8rem;
  cursor: pointer;
  transition: var(--transition);
}

li:hover {
  transform: scale(1.1);
}

.traffic-nav-selected {
  color: #fff;
  background-color: #81c98f;
}

li.traffic-nav-selected:hover {
  transform: none;
}

canvas {
  max-width: 100%;
  margin-top: 2rem;
}

.logo-social {
  width: 3rem;
  fill: #fff;
}

.social-company {
  color: var(--clr-secondary);
  font-weight: 600;
}

.followers {
  font-size: 4rem;
  margin-bottom: -1rem;
}

.greater-than-symbol {
  display: none;
  font-size: 2rem;
  cursor: pointer;
}

/* ====================================
                Layout
==================================== */

/* ---------- Navigation ----------- */

nav {
  grid-area: nav;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  background-color: #4d4c72;
}

nav ul {
  display: flex;
  gap: 0 3rem;
}

li {
  display: flex;
}

li a {
  display: flex;
}

/* ------------- Grid -------------- */

main {
  grid-area: main;
}

section {
  padding: 1.6rem;
  border-bottom: var(--border);
}

.traffic-title-and-nav-wrapper {
  display: flex;
  flex-direction: column;
}

.tab-bar {
  display: flex;
  height: 5rem;
}

.canvas-mobile-users {
  padding: 0.75rem 0;
}

.social-stats {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem 0;
}

.socials-boxes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1.6rem 0;
}

.socials-box {
  display: flex;
  background-color: #f5f5f5;
  padding: 1.5rem 0;
  border: solid #ccc 0.1rem;
  border-radius: 0.5rem;
}

.social-followers-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.social-icon-container {
  display: inline-block;
  height: 6rem;
  background-color: var(--clr-secondary);
  padding: 1.5rem;
  border-radius: 50%;
  margin: 0 1.5rem;
}

.new-members-container,
.recent-activity-container {
  text-align: center;
  line-height: 1.1;
  padding: 1.5rem 0;
  border-bottom: var(--border);
}

.new-members-container:last-of-type,
.recent-activity-container:last-of-type {
  padding: 1.5rem 0 0;
  border-bottom: none;
}

.new-members-container {
  font-size: 1.2rem;
}

.recent-activity-container {
  font-size: 1.3rem;
}

.email-notifications-container,
.public-profile-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 0 1.6rem;
}

/* ------------- Header ------------- */

header {
  grid-area: header;
  display: flex;
  gap: 0 1rem;
  align-items: center;
  background-color: var(--clr-secondary);
  color: #fff;
  padding: 0 1rem;
}

/* ------------- Forms ------------- */

input {
  display: block;
  height: 4.5rem;
  font-family: "Martel Sans", sans-serif;
  background-color: #f5f5f5;
  padding: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin: 1.6rem 0;
}

.message-user input {
  width: 100%;
}

textarea {
  display: block;
  width: 100%;
  max-height: 13.75rem;
  font-family: "Martel Sans", sans-serif;
  font-size: 1.4rem;
  background-color: #f5f5f5;
  padding: 1rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin: 1.6rem 0;
}

select {
  width: 100%;
  height: 4.5rem;
  background-color: #f5f5f5;
  padding-left: 0.7rem;
  border: var(--border);
  border-radius: 0.5rem;
  margin: 1.6rem 0;
}

select:invalid {
  color: #8c8c8c;
  font-size: 1.4rem;
}

option {
  color: #000;
}

.settings label {
  max-width: 28.8rem;
}

/* ---------- Modified Switch Light rulesets ---------- */

.switch-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 0;
}

.switch-light:first-of-type {
  margin-top: 2rem;
}

.switch-light::after {
  content: unset;
}

.switch-ios.switch-light > span {
  width: 9rem;
  height: 3.7rem;
  background-color: #999999;
  border: 0.25rem solid #c0c0c0;
  transition: var(--transition);
}

.switch-ios.switch-light > span:hover {
  background-color: var(--clr-btn-cancel-hover);
}

.switch-ios.switch-light > span span {
  top: 30%;
}

.switch-ios.switch-light > span span:first-of-type {
  padding-left: 4.5rem;
}

.switch-ios.switch-light > span span:last-of-type {
  padding-right: 5rem;
}

span span {
  text-transform: uppercase;
}

.switch-ios.switch-light span span {
  color: #fff;
}

.switch-ios.switch-light a {
  left: 4%;
  top: 12%;
  width: 2.5rem;
  height: 2.5rem;
  border: 0.25rem solid #c0c0c0;
}

.switch-ios.switch-light input:checked ~ span {
  border-color: #c0c0c0;
  box-shadow: inset 0 0 0 30px var(--clr-secondary);
  transition: var(--transition);
}

.switch-ios.switch-light input:checked ~ span:hover {
  box-shadow: inset 0 0 0 30px var(--clr-secondary-hover);
}

.switch-ios.switch-light input:checked ~ span a {
  left: 90%;
  border-color: #c0c0c0;
}

/* ====================================
            Media Queries
==================================== */

@media screen and (min-width: 48em) {
  body {
    grid-template-rows: 7rem 1fr;
    grid-template-columns: 7rem 1fr;
    grid-template-areas:
      "header header"
      "nav main";
  }

  nav {
    flex-direction: column;
    justify-content: flex-start;
  }

  .nav-main {
    position: sticky;
    top: 0;
    flex-direction: column;
    justify-content: space-between;
    gap: 2.5rem 0;
    width: unset;
    padding-top: 2rem;
  }

  .alerts-bar {
    margin: 1.6rem 1.6rem 0.25rem;
  }

  .widgets {
    display: flex;
    flex-wrap: wrap;
  }

  .traffic,
  .social-stats,
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    width: 100%;
  }

  .traffic-title-and-nav-wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .traffic-title {
    margin-bottom: 0;
  }

  .daily-traffic {
    width: 50%;
  }

  .mobile-users {
    width: 50%;
    border-left: var(--border);
  }

  .socials-boxes-container {
    flex-direction: row;
    gap: 0 1.6rem;
  }

  .socials-box {
    flex-grow: 1;
  }

  .new-members-container,
  .recent-activity-container {
    display: flex;
    align-items: center;
    gap: 0 1.5rem;
  }

  .name-and-email-container,
  .comment-and-time-lapse-container {
    text-align: left;
  }

  .new-members-container :last-child,
  .recent-activity-container :last-child {
    margin-left: auto;
  }

  .greater-than-symbol {
    display: block;
  }
}

@media screen and (min-width: 64em) {
  .new-members,
  .recent-activity,
  .message-user,
  .settings {
    width: 50%;
  }

  .recent-activity,
  .settings {
    border-left: var(--border);
  }
}
