* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
  --color-secondary: #7477bf;
}

body {
  font-family: 'Proza Libre', sans-serif;
  font-size: 1.6rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  background-color: var(--color-secondary);
  color: #fff;
}

.logo {
  display: flex;
  justify-content: center;
  width: 11rem;
  font-size: 1.75rem;
}

span {
  font-weight: 600;
}

.header-left-side {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 19rem;
}

.bell {
  fill: #fff;
}

.vertical-line {
  font-size: 3.5rem;
  color: #8c8fb8;
  width: 0.5rem;
}

img {
  width: 3.5rem;
}

.avatar {
  border-radius: 50%;
}

.user-name {
  font-size: 1.25rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4d4c72;
  height: 5rem;
}

ul {
  display: flex;
  justify-content: space-evenly;
  width: 28rem;
  height: 3rem;
}

li {
  display: flex;
}

a {
  display: flex;
}

a img {
  width: 3rem;
}

.tab-bar {
  display: flex;
}

.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10.7rem;
  height: 5.5rem;
  font-weight: bold;
}

.no-tabs-space {
  width: calc(100% - 10.7rem);
  height: 5.5rem;
  background-color: #f7f7f7;
  border-left: solid #ccc 0.1rem;
  border-bottom: solid #ccc 0.1rem;
}